## Copyright (C) 2012 - 2018 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: whonix-gw-network-conf
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 12), genmkfile, config-package-dev
Homepage: https://github.com/Whonix/whonix-gw-network-conf
Vcs-Browser: https://github.com/Whonix/whonix-gw-network-conf
Vcs-Git: https://github.com/Whonix/whonix-gw-network-conf.git
Standards-Version: 4.3.0

Package: whonix-gw-network-conf
Architecture: all
Depends: ifupdown, netbase, ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Network Configuration for Whonix-Gateway
 Includes etc/network/interfaces.d/30_non-qubes-whonix for
 Non-Qubes-Whonix-Gateway.
 .
 Sets up two network interfaces, an external one eth0 and an internal one eth1.
 .
 Provides /usr/share/whonix-gw-network-conf/network_internal_ip.txt.
